body {
  padding-top: 3em;
}

#tlbr, #bltr,
#col1, #col2, #col3, #col4, #col5,
#row1, #row2, #row3, #row4, #row5 {
  background: #4b5568;
  font-weight: bold;
}

#tlbr:hover, #bltr:hover,
#col1:hover, #col2:hover, #col3:hover, #col4:hover, #col5:hover,
#row1:hover, #row2:hover, #row3:hover, #row4:hover, #row5:hover {
  background: #566176;
}

table {
  table-layout: fixed;
  width: 100%;
}

tr#header, tr#footer {
  height: 50px;
}

#tlbr {
  width: 66px;
}

td {
  text-align: center;
  border: 1px solid #4b5568 !important;
  word-wrap: break-word;
}

td:first-child {
  width: 50px;
}

td:hover, td.hover {
  background: rgba(232, 86, 0, 25%);
}

td.active {
  background: rgba(232, 86, 0, 50%);
}

td.active:hover {
  background: rgba(232, 86, 0, 75%);
}

tr {
  height: 100px;
}